.button
{
    -fx-background-color: #4CAF50; /* Green */
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.button:hover
{
    -fx-background-color: #45a049; /* Darker green */
}

.button:pressed
{
    -fx-background-color: #3e8e41; /* Even darker green */
}
.label
{
    -fx-alignment: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button2:hover span {
    padding-right: 25px;
}

.button2:hover span:after
{
    opacity: 1;
    right: 0;
}
.root {
    -fx-background-color: #ffcc8e;
}

.button1 {
    -fx-display: inline-block;
    -fx-margin: 20px;
    -fx-font-family: "Helvetica", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 36px;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-padding: 20px 40px;
    -fx-effect: dropshadow(gaussian, #000, 1, 0.0, 0, 1);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button1:hover {
    -fx-background-color: white;

}

.button1:pressed {
    -fx-translate-y: 2px;
}

.button1 {
    -fx-effect: dropshadow(three-pass-box, #2B1800, 10, 0, 0, 5);
}
